@model CheckOver.Models.ViewModels.MakeOrUpdateExerciseVM

<section id="dodawanie_zadania">
    <div class="wrapper">
        <header>
            <div class="tytul">
                <h3>Dodawanie zadania</h3>
            </div>
        </header>

        <main class="page-body">
            <div class="container">
                <div asp-validation-summary="All"></div>
                <form enctype="multipart/form-data" asp-action="AddExercise" method="post">
                    <h2>Tytuł zadania:</h2>

                    <input asp-for="Title" type="text" required data-val="true"
                           id="Title" name="Title"
                           value="">
                    <span class="field-validation-valid" data-valmsg-for="Title"
                          data-valmsg-replace="true"></span>

                    <h2>Treść zadania:</h2>

                    <textarea asp-for="Description" type="text" data-val="true"
                              data-val-maxlength="The field Zadanie must be a string or array type with a maximum length of &#x27;3000&#x27;."
                              data-val-maxlength-max="3000"
                              data-val-minlength="The field Zadanie must be a string or array type with a minimum length of &#x27;10&#x27;."
                              data-val-minlength-min="10" data-val-required="The Zadanie field is required."
                              id="Description" maxlength="3000" name="Description">
</textarea>
                    <span class="field-validation-valid" data-valmsg-for="Description"
                          data-valmsg-replace="true"></span>

                    <h2>Liczba punktów:</h2>
                    <input asp-for="MaxPoints" type="number" required data-val="true"
                           id="MaxPoints" name="MaxPoints" value="" />
                    <span class="field-validation-valid" data-valmsg-for="MaxPoints"
                          data-valmsg-replace="true"></span>

                    <div class="container-btn-left">
                        <input type="submit" value="Dodaj zadanie" />
                    </div>
                    <input name="__RequestVerificationToken" type="hidden"
                           value="CfDJ8H4j3eNZYedPjnlQmy4M_OgyJc367-R4vZBk85IO17rTfDGHLohgcwOtAGSfCG4C-1t5wGskbOZwdqgkO04QPORKx9m8jRkRN7ZtYFEPYJ69t3zVzFsY6hRYS8OGkj3aAe8GkKPSAJMqf0pYdki-1tc6JHsAXoDq-QudOcpD8oMj_IiLrHWeb5Hyd8t7huyykA" />
                </form>
            </div>
        </main>
    </div>
</section>

@section Scripts
    {

    <script src="https://unpkg.com/gijgo@1.9.13/js/gijgo.min.js" type="text/javascript"></script>
    <link href="https://unpkg.com/gijgo@1.9.13/css/gijgo.min.css" rel="stylesheet" type="text/css" />
    <script>
        $('#datepicker').datetimepicker({
            uiLibrary: 'bootstrap4',
            modal: true,
            footer: true,
            format: 'dd-mm-yyyy HH:MM',
        });
    </script>
    <script src="https://cdn.ckeditor.com/ckeditor5/27.0.0/classic/ckeditor.js"></script>
    <script>
        ClassicEditor
            .create(document.querySelector('#editor'))
            .catch(error => {
                console.error(error);
            });
    </script>

}  