@model CheckOver.Models.ViewModels.AssignExerciseVM
@{
    ViewData["Title"] = "AssignExerciseToUsers";
}

<div class="container-login100">
    <div class="wrap-login100">
        <div class="login100-more" style="background-image: url('images/group.jpg');"></div>
        <form asp-action="AssignExerciseToUsers" enctype="multipart/form-data" class="login100-form validate-form">
            <span class=" login100-form-title p-b-34 text-dark">
                Przypisz zadanie do grupy
            </span>
            <div class="col-12">
                <div class="form-group">
                    <label asp-for="DeadLineString" class="control-label"></label>
                    <input asp-for="DeadLineString" id="datepicker" width="700" />
                    <span asp-validation-for="DeadLineString" class="text-danger"></span>
                </div>
            </div>
            <button class="login100-form-btn">
                Przypisz zadanie do grupy
            </button>
        </form>
    </div>
</div>

@section Scripts
    {

    <script src="https://unpkg.com/gijgo@1.9.13/js/gijgo.min.js" type="text/javascript"></script>
    <link href="https://unpkg.com/gijgo@1.9.13/css/gijgo.min.css" rel="stylesheet" type="text/css" />
    <script>
        $('#datepicker').datetimepicker({
            uiLibrary: 'bootstrap4',
            modal: true,
            footer: true,
            format: 'dd-mm-yyyy HH:MM',
        });
    </script>
}