@model IEnumerable<Exercise>

<section id="lista_utworzonych">
    <div class="wrapper">
        <header>

            <div class="tytul">
                <h3>Twoje zadania</h3>
            </div>
        </header>
        <main class="page-body">
            <div class="utworzone">
                @foreach (var item in Model)
                {
                    <div class="item">
                        <li>
                            <h3>@item.Title</h3>
                            <p>@item.Description</p>
                        </li>
                        <div class="container-btn">
                            <a asp-controller="Exercise" asp-action="AssignExercise" asp-route-ExerciseId="@item.ExerciseId" class="btn btn-primary">
                                Przydziel
                            </a>
                            <a href="edycja_zadania.html" class="btn btn-primary"> Edytuj </a>
                            <a href="#" class="btn btn-primary"> Usuń </a>
                        </div>
                    </div>
                }
            </div>
        </main>
    </div>
</section>