@model CheckOver.Models.ViewModels.SolvedExerciseVM
@{
    ViewData["Title"] = "SolveTheExercise";
}

<section id="rozwiazywanie_zadania">
    <div class="wrapper">
        <header>
            <div class="tytul">
                <h3>@Model.Solving.Exercise.Title</h3>
            </div>
            <div class="informacje">
                <h3>@Model.Solving.Assignment.Group.Name</h3>
                <h4>@Model.Solving.Exercise.Description</h4>
                <ul>
                    <li>
                        <h4>Termin zamknięcia zadania:</h4>
                    </li>
                    <li>
                        <h3>@Model.Solving.DeadLine</h3>
                    </li>
                </ul>
            </div>
        </header>
        <main class="page-body">
            <div class="container">
                <form method="post" asp-action="SolveTheExercise">
                    <div class="document-editor__editable-container">
                        <textarea asp-for="Answer" id="editor" data-val="true" data-val-required="The Answer field is required."
                                  name="Answer">
                         </textarea>
                    </div>
                    <span class="field-validation-valid" asp-validation-for="Answer" data-valmsg-for="Answer"
                          data-valmsg-replace="true"></span>

                    <div class="container-btn">
                        <input type="submit" class="margin-top-btn" value="Oddaj zadanie" />
                    </div>

                    <input name="__RequestVerificationToken" type="hidden"
                           value="CfDJ8H4j3eNZYedPjnlQmy4M_OgSAQNv6UjLUzQHylr3BvTZIbysG9Qjo1iiJz30GHPzoS3S7R4QwqkkBlZCPkIxOGb9NT5YGk_IqqBPClCYsccJjpySGl_4nnb-UBPx7xBpnVi1ZeH1NirRegsuKhmYF06vzpXxmkG8aIQCUo3ZQfqegg14BRKv3wnwVycRFsSh_Q" />
                </form>
            </div>
        </main>
    </div>
</section>

@section Scripts
{
    <script src="https://cdn.ckeditor.com/ckeditor5/27.0.0/classic/ckeditor.js"></script>
    <script>
        ClassicEditor
            .create(document.querySelector('#editor'))
            .catch(error => {
                console.error(error);
            });
    </script>
}  