@inject Microsoft.AspNetCore.Identity.SignInManager<ApplicationUser> _signInManager
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Zaloguj się</title>
    <link rel="stylesheet" href="~/lib/twitter-bootstrap/css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="~/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/fonts/Linearicons-Free-v1.0.0/icon-font.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/vendor/animate/animate.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/vendor/css-hamburgers/hamburgers.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/vendor/animsition/css/animsition.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/vendor/select2/select2.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/vendor/daterangepicker/daterangepicker.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.7.14/css/bootstrap-datetimepicker.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/css/util.css">
    <link rel="stylesheet" type="text/css" href="~/css/main.css">
    <!--===============================================================================================-->
</head>
<body>
    <div>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" asp-controller="Home" asp-action="Index">CheckOver</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse bg-dark" id="navbarTogglerDemo02">
                <ul class="navbar-nav mr-auto">
                    @if (_signInManager.IsSignedIn(User))
                    {
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Group" asp-action="GetUsersGroups">Twoje grupy</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Group" asp-action="AddNewGroup">Stwórz grupę</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Invitation" asp-action="GetAllReceived">Zaproszenia odebrane</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Invitation" asp-action="GetAllSent">Zaproszenia wysłane</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Exercise" asp-action="Index">Twoje zadania</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Exercise" asp-action="AddExercise">Dodaj zadanie</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Exercise" asp-action="ShowAssignedExercises">Przydzielone zadania</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Exercise" asp-action="ShowExercisesToCheck">Zadania do sprawdzenia</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Exercise" asp-action="ShowCheckedExercises">Sprawdzone zadania</a>
                        </li>
                    }
                </ul>
                <ul class="navbar-nav ml-auto">
                    @await Html.PartialAsync("_LoginInfo")
                </ul>
            </div>
        </nav>
    </div>
    <div class="container-fluid" style="padding-bottom: 100px; padding-top:50px">
        @RenderBody()
    </div>
    <footer class="bg-light text-center text-lg-start fixed-bottom footer text-white">
        <div class="text-center p-3 bg-dark text-white">
            © 2021 Copyright:
            <a class="text-white">CheckOver</a>
        </div>
    </footer>
    <script src="~/vendor/jquery/jquery-3.2.1.min.js"></script>
    <script src="~/vendor/animsition/js/animsition.min.js"></script>
    <script src="~/vendor/bootstrap/js/popper.js"></script>
    <script src="~/vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/vendor/select2/select2.min.js"></script>
    <script src="~/lib/jqueryui/jquery-ui.js"></script>
    <script src="~/lib/moment.js/moment.js"></script>

    <link href="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/css/bootstrap4-toggle.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/js/bootstrap4-toggle.min.js"></script>
    <script>
        $(".selection-2").select2({
            minimumResultsForSearch: 20,
            dropdownParent: $('#dropDownSelect1')
        });
    </script>
    <script src="vendor/countdowntime/countdowntime.js"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>