@inject Microsoft.AspNetCore.Identity.SignInManager<ApplicationUser> _signInManager
<!DOCTYPE html>
<html lang="pl">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
          rel="stylesheet">
    <link rel="stylesheet" href="~/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/css/all.min.css"
          integrity="sha256-46r060N2LrChLLb5zowXQ72/iKKNiw/lAmygmHExk/o=" crossorigin="anonymous" />
    <title>CheckOver</title>
</head>
<body>

    <nav>
        <div class="logo">
            <a asp-controller="Exercise" asp-action="Index"><h4>Checkover.</h4></a>
        </div>
        @if (_signInManager.IsSignedIn(User))
        {
            <div class="openMenu"><i class="fa fa-bars"></i></div>

            <div class="items">
                <li>
                    <a asp-controller="Exercise" asp-action="Index">ZADANIA</a>
                    <a asp-controller="Group" asp-action="GetUsersGroups">GRUPY</a>
                    <a asp-controller="Invitation" asp-action="Index">ZAPROSZENIA</a>
                    <a asp-controller="Account" asp-action="ChangePassword">USTAWIENIA</a>
                    <a asp-controller="Account" asp-action="Logout"><i class="fas fa-sign-out-alt"></i></a>
                </li>
                <div class="closeMenu"><i class="fa fa-times"></i></div>
            </div>
        }
    </nav>

    @RenderBody()

    <footer class="page-footer bg-light text-center text-lg-start fixed-bottom footer text-white">
        <div class="text-center p-3 bg-dark text-white">

            <a class="text-white"> © 2021 Copyright:CheckOver</a>
        </div>
    </footer>

    <script src="~/js/app.js"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>