@inject Microsoft.AspNetCore.Identity.SignInManager<ApplicationUser> _signInManager
@if (_signInManager.IsSignedIn(User))
{
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Hello @User.Identity.Name
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" asp-controller="Account" asp-action="Logout">Wyloguj się</a>
        </div>
    </li>

}
else
{
    <li class="nav-item">
        <a class="nav-item btn btn-primary text-white" asp-controller="Account" asp-action="SignIn">Logowanie</a>
    </li>
    <li class="nav-item">
        <a class="nav-item btn btn-primary ml-1" asp-controller="Account" asp-action="Signup">Rejestracja</a>
    </li>

}