<section id="glowny">
    <div class="wrapper">
        <header></header>
        <main class="page-body">
            <div class="start">
                <h1>Zaczynajmy praktykę</h1>
                <div class="container-btn-left">
                    <a asp-controller="Account" asp-action="SignIn" class="start btn btn-light">LOGOWANIE</a>
                    <a asp-controller="Account" asp-action="SignUp" class="start btn btn-primary">REJESTRACJA</a>
                </div>
            </div>
            <div class="zdjecia">
                <img src="images/undraw_Code_thinking_re_gka2 (1) 1.svg" alt="">
            </div>
        </main>
    </div>
</section>