@model CheckOver.Models.ViewModels.ChangePasswordVM

<section id="logowanie">
    <div class="wrapper">
        <header class="center">
            <div class="tytul">
                <h3>Ustawienia</h3>
            </div>
        </header>
        <main class="page-body">
            <div class="container">
                <h2>Zmiana hasła</h2>
                <form asp-action="ChangePassword" method="post">
                    <div asp-validation-summary="All"></div>
                    <div class="input-box">
                        <label asp-for="CurrentPassword"></label>
                        <input asp-for="CurrentPassword" type="password" />
                    </div>
                    <div class="input-box">
                        <label asp-for="NewPassword"></label>
                        <input asp-for="NewPassword" type="password" />
                    </div>
                    <div class="input-box">
                        <label asp-for="ConfirmNewPassword"></label>
                        <input asp-for="ConfirmNewPassword" type="password" />
                    </div>
                    <div class="container-btn">
                        <input type="submit" class="btn btn-primary" value="Zatwierdź" />
                    </div>
                </form>
            </div>
        </main>
    </div>
</section>