@model SignUpVM

<section id="logowanie">
    <div class="wrapper">
        <header class="center">
            <div class="tytul">
                <h3>REJESTRACJA</h3>
            </div>
        </header>
        <main class="page-body">
            <div class="container">
                <form asp-action="SignUp" method="post">
                    <div class="input-box">
                        <span class="detail">
                            Imię
                        </span>
                        <input asp-for="FirstName" placeholder="Podaj imię" type="text" id="FirstName"
                               name="FirstName" value="">
                        <span class="field-validation-valid" data-valmsg-for="FirstName"
                              data-valmsg-replace="true"></span>
                    </div>
                    <div class="input-box">
                        <span class="detail">
                            Nazwisko
                        </span>
                        <input asp-for="LastName" type="text" placeholder="Podaj nazwisko" id="LastName"
                               name="LastName" value="">
                        <span class="field-validation-valid" data-valmsg-for="LastName"
                              data-valmsg-replace="true"></span>
                    </div>
                    <div class="input-box">
                        <span class="detail">
                            E-mail
                        </span>
                        <input asp-for="Email" type="text" placeholder="Podaj e-mail" id="Email"
                               name="Email" value="">
                        <span class="field-validation-valid" data-valmsg-for="Email"
                              data-valmsg-replace="true"></span>
                    </div>
                    <div class="input-box">
                        <span class="detail">
                            Password
                        </span>
                        <input asp-for="Password" type="password" placeholder="Podaj hasło" id="Password"
                               name="Password">
                        <span class="field-validation-valid" data-valmsg-for="Password"
                              data-valmsg-replace="true"></span>
                    </div>
                    <div class="input-box">
                        <span class="detail">Potwiedź hasło</span>
                        <input asp-for="ConfirmPassword" type="password" placeholder="Potwierdź hasło"
                               id="ConfirmPassword" name="ConfirmPassword">
                        <span class="field-validation-valid" data-valmsg-for="ConfirmPassword"
                              data-valmsg-replace="true"></span>
                    </div>
                    <div class="container-btn">
                        <input type="submit" class="btn btn-primary" value="Zarejestruj się">
                    </div>
                    <div class="validation-summary-valid" data-valmsg-summary="true">
                        <ul>
                            <li style="display:none"></li>
                        </ul>
                    </div>
                    <input name="__RequestVerificationToken" type="hidden"
                           value="CfDJ8H4j3eNZYedPjnlQmy4M_OgrrUlbxlSISp_12gSJUJ0VHIEw9PeojQXWWaD5CDneETcAQXoIjjO7ITmRKmBknB4ldf_4ZKpRv3QTnVBuGlwE7Oot8OqMVoCiNSZvMTAV0qWnXvs7ttf0XR6YH1ZlVlQ" />
                </form>
            </div>
        </main>
    </div>
</section>