@model SignInVM

<section id="logowanie">
    <div class="wrapper">
        <header class="center">
            <div class="tytul">
                <h3>LOGOWANIE</h3>
            </div>
        </header>
        <main class="page-body">
            <div class="container">
                <form asp-action="SignIn" method="post">
                    <div asp-validation-summary="All"></div>
                    <div class="input-box">
                        <span class="detail">
                            E-mail
                        </span>
                        <input asp-for="Email" type="text" placeholder="Podaj e-mail" id="Email"
                               name="Email" value="">
                    </div>
                    <div class="input-box">
                        <span class="detail">
                            Password
                        </span>
                        <input asp-for="Password" type="password" id="Password"
                               name="Password">
                    </div>

                    <div class="container-btn">
                        <input type="submit" class="margin-right-btn" value="Zaloguj">
                    </div>
                </form>
                <a href="przypomnienie.html">Zapomniałeś/aś hasła?</a>
            </div>
        </main>
    </div>
</section>