@model CheckOver.Models.ViewModels.InvitationVM

<section id="logowanie">
    <div class="wrapper">
        <header class="center">
            <div class="tytul">
                <h3>Wysyłanie zaproszenia</h3>
            </div>
        </header>
        <main class="page-body">
            <div class="container">
                <form asp-action="AddNewInvitation" method="post">
                    <div asp-validation-summary="All">
                        <ul>
                            <li style="display:none"></li>
                        </ul>
                    </div>
                    <div class="input-box">
                        <span class="detail">
                            E-mail
                        </span>
                        <input asp-for="Email" type="text" placeholder="Podaj e-mail" required data-val="true"
                               id="Email" name="Email" value="">
                    </div>
                    <div class="input-box">
                        <label asp-for="Role">Rola</label>
                        <select asp-for="Role">
                            <option>Wybierz rolę użytkownika</option>
                            <option>Koordynator</option>
                            <option>Sprawdzający</option>
                            <option>Uczeń</option>
                        </select>
                    </div>
                    <div class="container-btn">
                        <input type="submit" value="Zaproś użytkownika" />
                        <input name="__RequestVerificationToken" type="hidden"
                               value="CfDJ8H4j3eNZYedPjnlQmy4M_OgHQj5YcGKVqPzhRVOLwwipFsKpWQEazFP04L6Bmu50iDQIlZHwz4cn59KTrZhevTB73b-RCKDUgmNbrSWLeSukmGPJxo5ZrpHRLokzEM_SYYkZIB_2jd6cvf8dmxw11y7GQcEzHLvCpzQy8e6y6DZmlqaYMsmbKWn8jEJ3qZV6JA" />
                    </div>
                </form>
            </div>
        </main>
    </div>
</section>