@model IEnumerable<Group>
@{
    ViewData["Title"] = "GetAllGroups";
}




<div class="row p-5">
    @{
        int i = 1;
        foreach (var item in Model)
        {
            <div class="col-sm-3">
                <div class="card" style="width: 22rem;">
                    <img class="card-img-top" src=@string.Format("/images/group{0}.jpg",i) alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">@item.Name</h5>
                        <p class="card-text">Założyciel: @item.Admin.FirstName @item.Admin.LastName</p>
                        <a href="#" class="btn btn-primary">Przejdź do grupy</a>
                    </div>
                </div>
            </div>
            i++;
        }
    }
</div>

