@model IEnumerable<Group>
@{
    ViewData["Title"] = "GetAllGroups";
}

<div class="row p-4">
    @{
        int i = 1;
        foreach (var item in Model)
        {
            <div class="col-sm-3 mt-3">
                <div class="card" style="width: 20rem;">
                    <img class="card-img-top" src="https://checkoverblob.blob.core.windows.net/checkoverblob/@item.CoverImageUrl" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">@item.Name</h5>
                        <p class="card-text">Założyciel: @item.Creator.FirstName @item.Creator.LastName</p>
                        <a asp-controller="Group" asp-action="GetGroup" asp-route-id="@item.GroupId" class="btn btn-primary">Przejdź do grupy</a>
                    </div>
                </div>
            </div>
            i++;
        }
    }
</div>