@model IEnumerable<Group>
@{
    ViewData["Title"] = "GetAllGroups";
}

<section id="grupy">
    <div class="wrapper">
        <header>
            <div class="tytul">
                <h3>Twoje grupy</h3>
            </div>
            <div class="container-btn=left">
                <a class="btn btn-primary" href="/tworzenie-grupy">UTWÓRZ NOWĄ</a>
            </div>
        </header>
        <main class="page-body">
            <div class="container">
                @foreach (var item in Model)
                {
                    <a asp-controller="Group" asp-action="GetGroup" asp-route-id="@item.GroupId">
                        <div class="item_block">
                            <div class="container_img">
                                <img src="@item.CoverImageUrl"
                                     alt="Foto">
                            </div>
                            <p>@item.Name</p>
                        </div>
                    </a>
                }
            </div>
        </main>
    </div>
</section>